In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('./netflix_titles.csv')

In [8]:
df.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
10,s11,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017,TV-MA,103 min,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...","Poland, United States","November 30, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a naïve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
13,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,"March 1, 2019",2018,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",This intimate documentary follows rock star Ar...
14,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",2019,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...
15,s16,Movie,Oct-01,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,"September 1, 2019",2014,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
17,s18,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon Øigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers","After devastating terror attacks in Norway, a ..."
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
19,s20,Movie,'89,NaN,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,"May 16, 2018",2017,TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th..."

In [9]:
paises = df['country'].unique() #Recebe os países únicos da coluna de países 

mapQuantidades = {}

#Laço para criar um dicionário dinamicamente de acordo com a coluna country
for i in paises:
    
    mapQuantidades[i] = len(df['country'].where(df['country'] == i).dropna())

#Ordenação dos países por quantidade de filmes produzidos
ranking = dict( sorted(mapQuantidades.items(), key=lambda item: item[1], reverse=True))
        
#Exibe a tabela com os 50 primeiros no ranking
pd.DataFrame.from_dict(ranking, orient='index', columns = ['Filmes']).head(20)

                               Filmes
United States                    2555
India                             923
United Kingdom                    397
Japan                             226
South Korea                       183
Canada                            177
Spain                             134
France                            115
Egypt                             101
Mexico                            100
Turkey                            100
Australia                          83
Taiwan                             78
Brazil                             72
Philippines                        71
Nigeria                            70
Indonesia                          70
United Kingdom, United States      64
Germany                            61
United States, Canada              60

In [10]:

#String única para receber todas as categorias existentes no csv
categoriasRaw = ""

#Montagem da string com categorias encontradas
for i in df['listed_in'].unique():
    categoriasRaw += i + ","
    
#Divide as categorias quebradas por vírgula e retornando um array
categoriasSplit = categoriasRaw.split(',')

#Retirar todos os espaços ao redor de cada elemento (categoria)
for i in range(len(categoriasSplit)):
    categoriasSplit[i] = categoriasSplit[i].strip()

#Traz as categorias únicas, removendo repetições
categorias = np.unique(categoriasSplit)

#Remove o índice 0 que possui um espaço em branco apenas
categorias = np.delete(categorias, 0)

categorias

array(['Action & Adventure', 'Anime Features', 'Anime Series',
       'British TV Shows', 'Children & Family Movies',
       'Classic & Cult TV', 'Classic Movies', 'Comedies',
       'Crime TV Shows', 'Cult Movies', 'Documentaries', 'Docuseries',
       'Dramas', 'Faith & Spirituality', 'Horror Movies',
       'Independent Movies', 'International Movies',
       'International TV Shows', "Kids' TV", 'Korean TV Shows',
       'LGBTQ Movies', 'Movies', 'Music & Musicals', 'Reality TV',
       'Romantic Movies', 'Romantic TV Shows', 'Sci-Fi & Fantasy',
       'Science & Nature TV', 'Spanish-Language TV Shows',
       'Sports Movies', 'Stand-Up Comedy', 'Stand-Up Comedy & Talk Shows',
       'TV Action & Adventure', 'TV Comedies', 'TV Dramas', 'TV Horror',
       'TV Mysteries', 'TV Sci-Fi & Fantasy', 'TV Shows', 'TV Thrillers',
       'Teen TV Shows', 'Thrillers'], dtype='<U28')

In [11]:

# Ler linha a linha do csv

# Criar um dict para armazenar os países

dictPaises = {}

for i in paises:
    dictPaises[i] = {}
    for j in categorias:
        if(j == 'Movies'):
            continue
        lista = df.where(df['country'] == i).dropna()
        cat = lista['listed_in']
        dictPaises[i][j] = 0;
        for c in cat:
            if(c.find(j) != -1):                   
                dictPaises[i][j] += 1

In [12]:
for i in paises:
    dictPaises[i] = dict( sorted(dictPaises[i].items(), key=lambda item: item[1], reverse=True))
    
# print(dictPaises)

In [13]:
# Fazer novo dict com as 3 primeiras categorias de cada país

rankingCategorias = {}

for i in paises:
    
    rankingCategorias[i] = dict(list(dictPaises[i].items())[:3])
    
    
# print(rankingCategorias)

In [14]:
# Criar tabela com os dados do novo dict

pd.DataFrame.from_dict({(i,j): rankingCategorias[i][j] 
                           for i in rankingCategorias.keys() 
                           for j in rankingCategorias[i].keys()},
                       orient='index', columns = ['Quantidades']).head(25)

                                               Quantidades
(Brazil, International Movies)                          22
(Brazil, Comedies)                                      16
(Brazil, Dramas)                                        14
(Mexico, International Movies)                          40
(Mexico, Dramas)                                        22
(Mexico, Comedies)                                      16
(Singapore, International Movies)                        5
(Singapore, Thrillers)                                   2
(Singapore, Action & Adventure)                          1
(United States, Dramas)                                517
(United States, Comedies)                              459
(United States, Independent Movies)                    283
(Turkey, International Movies)                          69
(Turkey, Comedies)                                      55
(Turkey, Dramas)                                        27
(Egypt, International Movies)                           85
(Egypt, Comedies)                                       56
(Egypt, Dramas)                                         33
(India, International Movies)                          763
(India, Dramas)                                        586
(India, Comedies)                                      290
(Poland, United States, Dramas)                          1
(Poland, United States, International Movies)            1
(Poland, United States, Thrillers)                       1
(Thailand, International Movies)                        34

In [15]:

print("United States")
print(rankingCategorias['United States'])

print("India")
print(rankingCategorias['India'])

print("United Kingdom")
print(rankingCategorias['United Kingdom'])

print("Japan")
print(rankingCategorias['Japan'])

print("South Korea")
print(rankingCategorias['South Korea'])

print("Canada")
print(rankingCategorias['Canada'])

print("Spain")
print(rankingCategorias['Spain'])

print("France")
print(rankingCategorias['France'])

print("Egypt")
print(rankingCategorias['Egypt'])

print("Mexico")
print(rankingCategorias['Mexico'])

print("Brazil")
print(rankingCategorias['Brazil'])

United States
{'Dramas': 517, 'Comedies': 459, 'Independent Movies': 283}
India
{'International Movies': 763, 'Dramas': 586, 'Comedies': 290}
United Kingdom
{'Documentaries': 49, 'International Movies': 46, 'Dramas': 43}
Japan
{'Anime Features': 51, 'International Movies': 45, 'Action & Adventure': 41}
South Korea
{'International Movies': 30, 'Dramas': 18, 'Action & Adventure': 12}
Canada
{'Comedies': 39, 'Children & Family Movies': 25, 'Dramas': 21}
Spain
{'International Movies': 70, 'Dramas': 37, 'Comedies': 31}
France
{'International Movies': 57, 'Dramas': 30, 'Comedies': 19}
Egypt
{'International Movies': 85, 'Comedies': 56, 'Dramas': 33}
Mexico
{'International Movies': 40, 'Dramas': 22, 'Comedies': 16}
Brazil
{'International Movies': 22, 'Comedies': 16, 'Dramas': 14}